body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 100px;
}

.indexImg {
	display: block;
	margin: auto;
}

.indexPhrase {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  font-size: 32px;
  color: black;
  text-shadow: 4px 4px 3px rgba(1,1,1,0.1);
}

.type-buttons {
	margin-bottom: 20px;
}

.submit-button {
	margin-bottom: 0px;
}

h1 {
	font-weight: bold;
}

.priceRange {
	visibility: hidden;
}

.navbar-custom{
	background: #f5f5f5;
}

a {
  color: #00B7FF;
}

.container {
	padding: 5px;
	margin: 0;
}

.offerContainer img {
    display:block;
    margin: auto;
	width: 180px;
	height: 180px;
}

.offerContainer{
	text-align: center;
}

.offerContainer div:hover {
	background: #edecec;
}

.offerContainer a {
	color: black;
	font-size: 22px;
	text-align: center;
}

.offerContainer .restaurantName {
	height: 3em;
	font-weight: bold;
}

.offerContainer .offerName {
	font-weight: bold;
	margin-top: 20px;
	height: 2em;
}

.offerContainer .price {
	font-size: 22px;
 	color: #3EA055;
}

.modalContainer img{
	display:block;
    margin:auto;
	width: 100%;
	height: 100%;
}

.modalContainer {
	text-align: center;
}

.modalContainer .price {
 	color: #3EA055;
}

.well {
	background: #f5f5f5;
}

.modalContainer h2, h3{
	margin-bottom: 20px;
}

.modalContainer p {
	margin-bottom: 30px;
}

.modalContainer img {
	width: 100%;

}
.modal-text-container {
	background-color: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
}

b {
	margin-left: 15px;
	margin-right: 15px;
}

.restProfile-offer-container a{
	text-decoration: none;
}

.restProfile-offer-container h2 {
	margin-bottom: 20px;
}

.restProfile-offer-container a {
	color: black;
}

.restProfile-offer-container .price {
	color: #3EA055;
}
.offer-hover-class:hover {
	background-color: #DCDCDC;
}

.restProfile-info-container img{
	width: 100%;
}

.restProfile-info-container h1 {
	margin-bottom: 40px;
}

.bold {
	font-weight: bold;
}



/* Individual Controls
 ------------------------------------------------------------- */
.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}
.radio input {
  height: 1px;
  width: 1px;
  opacity: 0;
}
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio input:checked + .outer {
  border: 3px solid #5bc0de;
}
.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #5bc0de;
}
.radio .outer {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 3px solid #5bc0de;
  background-color: #fff;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 0;
  background-color: #5bc0de;
  opacity: 0;
}
